<h2 class="edit__title">
  <span><%= link_to "🔙", passenger_path(@trip.passenger), class: 'trips__show__back-btn' %></span>
  Edit Trip
</h2>
<%= render partial: "form", locals: { action_name: "edit" } %>