<div class="homepages__index-container">
  <div class="homepages__index-drivers"><%= link_to "Drivers", drivers_path %></div>
  <div class="homepages__index-passengers"><%= link_to "Passengers", passengers_path %></div>
</div>
