// Place all the styles related to the Drivers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// reference: https://codepen.io/nikhil8krishnan/pen/WvYPvv

// @import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);



.drivers__index__main {
  padding-top: 20px;
  margin: 0;
  width: 100%;
  height: 100%;
}

.drivers__index__title {
  margin-top: 20px;
  margin-bottom: 20px;
}


.drivers__show__title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.drivers__show__conatiner, .drivers__index__conatiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.drivers__show__div-container p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 10px;
}

.drivers__show__profile-image {
  width: 220px;
  border-radius: 50%;
  margin: 0 50px;
  align-self: center;
}

.drivers__show__background, .drivers__index__background {
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;
}

section {
  margin: 50px;
}


.drivers__show__trip-title {
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  table-layout: fixed;
  padding-bottom: 20px;
}

.tbl-header {
  background-color: rgba(255,255,255,0.3);
}


.tbl-content {
  height: 300px;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid rgba(197, 195, 195, 0.3);
}

th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
}

td {
  background-color: #fff;
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #000;
  border-bottom: 1px solid rgba(197, 195, 195, 0.3);
}


::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}


// new and edit page
.new__title, .edit__title {
  text-align: center;
  margin: 30px 0;
}

._form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

._form-text-container {
  margin-top: 20px;
}

._form__text_field {
  width: 300px;
  font-size: 18px; 
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  background-color: rgb(250, 248, 248);
  border-radius: 5px;
}

._form__text_field::before {
  margin-left: 20px;
}

._form_instruction {
  color: gray;
  font-size: 18px;
}

._form {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

._form__label {
  font-size: 20px;
}

._form__driver-btn {
  padding: 5px 20px;
  margin-top: 15px;
  margin-bottom: 50px;
  border-radius: 10px;
  border: #25B7C2 solid 3px;
  color: #25B7C2;
  background-color: transparent;
  font-size: 18px;
}

.drivers__show__btn {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.drivers__show__mark-available-btn, .drivers__show__edit-btn, .drivers__show__delete-btn {
  margin-right: 10px;
  align-self: center;
  justify-self: center;
}

.drivers__show__edit-btn, .drivers__show__delete-btn, .drivers__index__add-btn, .drivers__show__mark-available-btn {
  border-radius: 10px;
  padding: 5px 5px;
  border: #25B7C2 solid 3px;
  color: #25B7C2;
  font-size: 18px;
  height: 50px;
}

._form__passenger-btn:hover, .drivers__show__edit-btn:hover, .drivers__show__delete-btn:hover, .drivers__index__add-btn:hover, .drivers__show__mark-available-btn:hover {
  letter-spacing: 0.1rem;
  font-weight: bold;
  color: #25B7C2;
}

.drivers__show__back-btn, .drivers__form__back-btn {
  margin-right: 10px;
  font-size: 28px; 
}


.drivers__show__back-btn:hover, .drivers__form__back-btn:hover {
  color: #25B7C2;
}

.red {
  color: darkred;
  font-size: 15px;
}

.gray-letter {
  color: gray;
  text-align: right;
}